In [5]:
num=3.5
print(num)
print(type(num))
entero=int(num)
print(entero)
print(type(entero))

3.5
<class 'float'>
3
<class 'int'>

In [8]:
cadena= 'Hola'
print(type(cadena))
int(cadena) #no es posible convetir letras a numeros

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Hola'

In [15]:
numero= "8"
print(type(numero))
numeroNum= int(numero) #convertimos a entero
print(type(numeroNum))
print(numeroNum)

<class 'str'>
<class 'int'>
8

In [14]:
numeroFloat= float(numeroNum) #convertimos a flotante
print(type(numeroFloat))
print(numeroFloat)

<class 'float'>
8.0

In [16]:
Acadena= str(numeroFloat) #convertimos a string
print(type(Acadena))
print(Acadena)

<class 'str'>
8.0

In [17]:
#numeros binarios
1<<2

4