## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
numero = 3
print(numero)

3

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(numero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre = "Mariugenia"

5) Crear una variable que contenga un número complejo

In [9]:
complejo= 1 + 2j # la parte imaginaria se coloca con j, si la parte entrela es cero escribo solo el numero con la letra j (ejemplo: 2j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [19]:
import math
pi= round(math.pi,4)
print(pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [24]:
var1= 'True'
var2= True
#no se trata de lo mismo. Puedo comparar mediante:
var1==var2

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [25]:
print(type(var1))
print(type(var2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [26]:
x= 2 + 5.5

11) Realizar una operación de suma de números complejos

In [29]:
a = 1 + 2j
b = 5 + 3j
print(a+b)

(6+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [30]:
c= 8
d= 3 + 2j
print(c+d)

(11+2j)

13) Realizar una operación de multiplicación

In [31]:
3*4

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [33]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [34]:
27/4

6.75

16) De la división anterior solamente mostrar la parte entera

In [38]:
e=27//4

17) De la división de 27 entre 4 mostrar solamente el resto

In [39]:
r=27%4

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [44]:
result= 4*e + r
print(result)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [47]:
sumaTexto= 'Hola' + ' Amigo'
print(sumaTexto)

Hola Amigo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [49]:
"2" == 2 #no es igual porque el primero es string y el otro es entero

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [50]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [53]:
#porque la coma no se interpreta como punto decimal

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [54]:
y=3
print(y)
y -= 1
print(y)

3
2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [56]:
1 << 2 # esto es una operacion de numeros binarios, que indica que el 1 se corre 2 veces a la izquierda y completar esos 2 espacios a la derecha con ceros, esto es 100

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [59]:
2 + '2'
# da error porque no podemos sumar un entero y un string
# si los 2 operandos son tipo entero el resultado sería 4, pero si los operandos son tipo string el resultado sería '22'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [61]:
opera= 3*'Lunes'
print(opera)

LunesLunesLunes